InvoiceApi/Service References/MobiPhoneSmsService/brandname.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://thread.core.com/" targetNamespace="http://thread.core.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Checkamount" type="tns:Checkamount" />
  <xs:element name="CheckamountResponse" type="tns:CheckamountResponse" />
  <xs:element name="Deduction" type="tns:Deduction" />
  <xs:element name="DeductionResponse" type="tns:DeductionResponse" />
  <xs:element name="Deposit" type="tns:Deposit" />
  <xs:element name="DepositResponse" type="tns:DepositResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="send" type="tns:send" />
  <xs:element name="sendResponse" type="tns:sendResponse" />
  <xs:complexType name="Deposit">
    <xs:sequence>
      <xs:element minOccurs="0" name="USERNAME" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" type="xs:string" />
      <xs:element minOccurs="0" name="AMOUNT" type="xs:string" />
      <xs:element minOccurs="0" name="OTP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepositResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Checkamount">
    <xs:sequence>
      <xs:element minOccurs="0" name="USERNAME" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckamountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Deduction">
    <xs:sequence>
      <xs:element minOccurs="0" name="USERNAME" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" type="xs:string" />
      <xs:element minOccurs="0" name="AMOUNT" type="xs:string" />
      <xs:element minOccurs="0" name="OTP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeductionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="send">
    <xs:sequence>
      <xs:element minOccurs="0" name="ISDN" type="xs:string" />
      <xs:element minOccurs="0" name="BRANDNAME" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" type="xs:string" />
      <xs:element minOccurs="0" name="OPERATOR_ID" type="xs:string" />
      <xs:element minOccurs="0" name="CAMPAIGN_CODE" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>