InvoiceApi/Service References/MobiPhoneSmsService/ReceiverProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://thread.core.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ReceiverProcessService" targetNamespace="http://thread.core.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://203.162.235.120:6668/brandname?xsd=1" namespace="http://thread.core.com/" />
    </xsd:schema>
  </types>
  <message name="Deduction">
    <part name="parameters" element="tns:Deduction" />
  </message>
  <message name="DeductionResponse">
    <part name="parameters" element="tns:DeductionResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="Deposit">
    <part name="parameters" element="tns:Deposit" />
  </message>
  <message name="DepositResponse">
    <part name="parameters" element="tns:DepositResponse" />
  </message>
  <message name="Checkamount">
    <part name="parameters" element="tns:Checkamount" />
  </message>
  <message name="CheckamountResponse">
    <part name="parameters" element="tns:CheckamountResponse" />
  </message>
  <message name="send">
    <part name="parameters" element="tns:send" />
  </message>
  <message name="sendResponse">
    <part name="parameters" element="tns:sendResponse" />
  </message>
  <portType name="ReceiverProcess">
    <operation name="Deduction">
      <input wsam:Action="http://thread.core.com/ReceiverProcess/DeductionRequest" message="tns:Deduction" />
      <output wsam:Action="http://thread.core.com/ReceiverProcess/DeductionResponse" message="tns:DeductionResponse" />
      <fault wsam:Action="http://thread.core.com/ReceiverProcess/Deduction/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="Deposit">
      <input wsam:Action="http://thread.core.com/ReceiverProcess/DepositRequest" message="tns:Deposit" />
      <output wsam:Action="http://thread.core.com/ReceiverProcess/DepositResponse" message="tns:DepositResponse" />
      <fault wsam:Action="http://thread.core.com/ReceiverProcess/Deposit/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="Checkamount">
      <input wsam:Action="http://thread.core.com/ReceiverProcess/CheckamountRequest" message="tns:Checkamount" />
      <output wsam:Action="http://thread.core.com/ReceiverProcess/CheckamountResponse" message="tns:CheckamountResponse" />
      <fault wsam:Action="http://thread.core.com/ReceiverProcess/Checkamount/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="send">
      <input wsam:Action="http://thread.core.com/ReceiverProcess/sendRequest" message="tns:send" />
      <output wsam:Action="http://thread.core.com/ReceiverProcess/sendResponse" message="tns:sendResponse" />
      <fault wsam:Action="http://thread.core.com/ReceiverProcess/send/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="ReceiverProcessPortBinding" type="tns:ReceiverProcess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Deduction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="Deposit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="Checkamount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="send">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ReceiverProcessService">
    <port name="ReceiverProcessPort" binding="tns:ReceiverProcessPortBinding">
      <soap:address location="http://203.162.235.120:6668/brandname" />
    </port>
  </service>
</definitions>